.project {
  width: 22rem;
  min-height: 30rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;
  border-radius: 5px;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #e0e4e7;
  box-shadow: 1px 1px 6px 2px rgba(95, 205, 217, 0.55);
}

.projectBlur {
  height: 100%;
  background: rgba(6, 6, 6, 0.9);
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.projectBlur h2 {
  position: relative;
  display: flex;
  font-family: Poppins;
  font-size: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.projectBlur h2::before {
  content: "";
  position: absolute;
  width: 90%;
  top: 60px;
  height: 2px;
  background-color: #aaa;
}

.project-info h3 {
  font-family: Roboto Mono;
  font-size: 1.5rem;
  font-weight: 600;
  color: #5fcdd9;
}

.project-info .tecnologias {
  background-color: rgb(9, 9, 9, 0.6);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.project-info .tecnologias p {
  font-family: Roboto Mono;
  font-weight: 400;
  font-size: 1.2rem;
}

.project-info .tecnologias ul {
  list-style: none;
  height: 10rem;
  margin-top: 10px;
  border: 1px solid #aaa;
}

.project-info .tecnologias ul li {
  font-family: Poppins;
  font-size: 1rem;
  margin: 5px 0;
}

.project-info .links .url {
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-info .links .url a {
  display: flex;
  justify-content: center;
  /* padding-bottom: 3rem; */
  background: none;
  box-shadow: none;
  color: white;
  font-size: 2.5rem;
  cursor: pointer;
  margin: 1rem 2rem;
}
.iconRotate {
  transition: 0.5s all ease;
}
.iconRotate:hover {
  transform: rotateY(360deg);
  color: #5fcdd9;
}
.swiper {
  padding: 30px;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #5fcdd9;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #5fcdd9;
}

@media (max-width: 470px) {
  .project {
    min-width: 20rem;
  }

  .project h2 {
    font-size: 1.3rem;
    padding: 1.5rem;
  }
}
@media (max-width: 400px) {
  .project {
    min-width: 10rem;
  }

  .project h2 {
    font-size: 1rem;
    padding: 1.5rem;
  }
}
