.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 20rem;
  max-height: 4rem;
  background-color: #5fcdd9;
  border-radius: 5px;
  border: none;
  box-shadow: ;
  font-family: Roboto Mono, "Helvetica";
  box-shadow: 2px 5px 11px 1px rgba(95, 205, 217, 0.55);
  margin: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

.button:hover {
  background-color: #172026;
  box-shadow: 1px 3px 1px #5fcdd9;
}
.button:hover a,
.button:hover {
  color: #fff;
}

.button span {
  font-size: 2rem;
}
/* -------MEDIA------------ */

@media (max-width: 600px) {
  .button {
    width: 18rem;
    max-height: 3rem;
    margin: 1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .button span {
    font-size: 1.5rem;
  }
}

@media (max-width: 450px) {
  .button {
    width: 18rem;
    height: 3rem;
    margin: 1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .button span {
    font-size: 1.5rem;
  }
  .card p {
    margin-top: 0.5rem;
  }
}

@media (max-width: 380px) {
  .button {
    width: 14rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0 1.2rem;
  }

  .button span {
    font-size: 1.5rem;
  }
  .card p {
    margin-top: 0.5rem;
  }
}
