* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card {
  width: 26rem;
  max-height: 45rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(6, 6, 6, 0.8);
  box-shadow: 1px 1px 6px 2px rgba(95, 205, 217, 0.55);
  border-radius: 5px;
  animation: box-shadow 1s alternate infinite;
}

.card > p {
  margin: 1rem 0 0.5rem 0;
  color: #5fcdd9;
  font-family: Roboto Mono;
  font-size: 0.8rem;
}
.card .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .infos h1 {
  color: #fff;
  font-family: Roboto Mono;
}
.card .infos p {
  color: #5fcdd9;
  font-family: Poppins;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  margin-bottom: 0.8rem;
  letter-spacing: 2px;
  position: relative;
  background: #111112;
  box-shadow: 11px 11px 22px rgba(6, 6, 6, 0.1), inset 6px 11px 2px rgba(31, 30, 30, 0.1),
    inset 12px 20px 12px rgba(5, 5, 5, 0.5);

  /* Note: backdrop-filter has minimal browser support */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border-radius: 10px;
}

/* .card .infos p::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background: #5fcdd9;
  bottom: 0;
} */

.blur {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20rem;
  height: 3.5rem;
  background-color: #5fcdd9;
  border-radius: 5px;
  border: none;
  box-shadow: ;
  font-family: Roboto Mono, "Helvetica";
  box-shadow: 2px 5px 11px 1px rgba(95, 205, 217, 0.55);
  margin: 1.5rem;
  transition: all 0.2s;
  cursor: pointer;
  padding: 0 2rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
}

a:hover {
  background-color: #172026;
  box-shadow: 1px 3px 1px #5fcdd9;
}
a:hover {
  color: #fff;
}

a span {
  font-size: 2rem;
}

@keyframes box-shadow {
  from {
    box-shadow: 1px 1px 6px 2px #5fcdd9;
  }
  to {
    box-shadow: 1px 1px 6px 2px rgba(95, 205, 217, 0.55);
  }
}

.icon_pulse {
  animation: circle 2s steps(100) infinite;
}

@keyframes circle {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(450deg);
  }
}

/* -------MEDIA------------ */

@media (max-width: 600px) {
  .card {
    padding: 0.4rem;
    width: 25rem;
    height: 40rem;
  }

  a {
    width: 18rem;
    height: 3rem;
    margin: 1rem;
    padding: 0 2rem;
    font-size: 1.2rem;
    font-weight: 600;
  }

  a span {
    font-size: 1.5rem;
  }

  .card .infos p {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }
  .card .buttons {
    margin: 1rem;
  }
}

@media (max-width: 450px) {
  .card {
    max-width: 22rem;
    padding: 0.2rem;
  }
  .card .infos h1 {
    font-size: 1.6rem;
  }

  a {
    width: 18rem;
    height: 3rem;
  }

  a span {
    font-size: 1.5rem;
  }
}

@media (max-width: 380px) {
  .card {
    max-width: 18rem;
    max-height: 35rem;
  }
  .card .infos h1 {
    font-size: 1.5rem;
  }
  .card .infos p {
    font-size: 0.7rem;
  }
  .buttons {
    padding: 0;
    margin: 1rem;
  }
  a {
    width: 14rem;
    height: 3rem;
    font-size: 1rem;
    padding: 0 1.2rem;
  }
  .buttons a:first-child {
    margin-top: 0.5rem;
  }
  .buttons a:last-child {
    margin-bottom: 1.2rem;
  }

  .buttons a span {
    font-size: 1.5rem;
  }

  .card .buttons {
    margin-bottom: 0;
  }
  .card p {
    font-size: 0.6rem;
  }
}
