.main {
  background: url("../../public/BG.png") no-repeat center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.projects {
  max-width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.swiper {
  padding: 30px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-pagination-bullet-active {
  background-color: #5fcdd9;
}

.swiper-button-prev,
.swiper-button-next {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: #5fcdd9;
}

.projects-main {
  width: 90%;
  max-height: 500px;
  cursor: grab;
  display: flex;
  gap: 40px;
}

/* --------MEDIA------------- */
@media (max-width: 600px) {
  .projects {
    margin-bottom: 100px;
  }
}
@media (max-width: 4500px) {
  .projects {
    margin-bottom: 100px;
  }
  .projects {
    max-width: 90%;
    height: 100%;
    display: flex;
  }
}
