.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 3rem;
  background-color: #060606;
  color: #fff;
  font-size: 1rem;
  font-family: Roboto Mono, "Helvetica";
}

@media (max-width: 400px) {
  .footer {
    font-size: 0.8rem;
  }
}
